@model MeetingRoomBooking.Services.ServiceModels.ForgotPasswordViewModel
@section style {
	<link rel="stylesheet" href="~/css/login.css" />
}
@section script {
    <script src="~/js/login.js"></script>
}
<div class=" signin-bg">
	<form method="post" asp-controller="Account" asp-action="SubmitPassword">
        <div class="back-area">
            <a asp-action="Login">
                <i class="bi bi-arrow-left"></i>
                Back
            </a>
        </div>
        
        <div class="input-area">
            <div class="input-section">
                <div class="label">
                    <div>Email or mobile phone number</div>
                    <div></div>
                </div>
                <input asp-for="Email" type="text" class="input-text" />
                <span asp-validation-for="Email" class="error-message"></span>
            </div>
            <div class="input-section">
                <div class="password-label">
                    <div class="label">New password</div>
                    <div class="icon-toggle" id="toggle-password">
                        <i class="bi bi-eye" id="toggle-icon"></i>
                        <div class="word-toggle" id="word-toggle">Show</div>
                    </div>
                </div>
                <input asp-for="NewPassword" type="password" class="input-text" id="password" />
            </div>
            <div class="input-section">
                <div class="password-label">
                    <div class="label">Confirm new password</div>
                    <div class="icon-toggle" id="confirm-toggle-password">
                        <i class="bi bi-eye" id="confirm-toggle-icon"></i>
                        <div class="word-toggle" id="confirm-word-toggle">Show</div>
                    </div>
                </div>
                <input asp-for="ConfirmNewPassword" type="password" class="input-text" id="confirm-password" />
                <span asp-validation-for="ConfirmNewPassword" class="error-message"></span>
            </div>
            <button type="submit">Change password</button>
            
        </div>

	</form>
</div>

