@model LoginViewModel
@section style {
    <link rel="stylesheet" href="~/css/login.css" />
}
@section script {
    <script src="~/js/login.js"></script>
}
@{
    ViewData["Title"] = "Login Page";
}

<div class=" signin-bg">
    <div class="title">
        <img src="~/assets/meetingRoomLogo.png" class="logo" />
        <h2>Meeting Room Booking</h2>
    </div>
    
    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="form-title">Sign in</div>
        <div class="input-area">
            <div class="input-section">
                <div class="label">
                    <div>Email</div>
                    <div></div> 
                </div>
                <input type="text" class="input-text" asp-for="Email" />
                <span asp-validation-for="Email" class="error-message"></span>
            </div>
            <div class="input-section">
                <div class="password-label">
                    <div class="label">Your password</div>
                    <div class="icon-toggle" id="toggle-password">
                        <i class="bi bi-eye" id="toggle-icon"></i>
                        <div id="word-toggle">Show</div>
                    </div>
                </div>
                <input type="password" class="input-text" id="password" asp-for="Password" />
                <span asp-validation-for="Password" class="error-message"></span>
                
            </div>
            <button type="submit" >Log in</button>
            <div class="extra-text">By continuing, you agree to the <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a></div>
            <div class="forgot-pass">
                <a asp-controller="Account" asp-action="ForgotPassword" class="extra-text">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>


