@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.title {
    font-size: 1.25rem;
}
aside p {
    font: 600 1.25rem "Open sans", sans-serif;
}
.font-lato {
    font-family: "Lato", sans-serif;
}
.filter-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(55,55,55,0.5);
}
.flex {
    display: flex;
}
.flex-center1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-section .flex-center1 {
    margin-bottom: 15px;
}
.filter-button {
    border-radius: 10px;
    border: 1px solid #E1E6ED;
    color: #3B3B3B;
    box-shadow: 0 4px 0px -2px rgba(124, 124, 124, 1);
}
.filter-button i {
    color: #3B3B3B;
}
.horizontal-margin {
    margin-left: 20px;
    margin-right: 20px;
}
.padding-20 {
    padding: 20px;
}


.search {
    background-color: #F5F5F5;
    border: 1px solid #E1E6ED;
    box-shadow: 0 4px 0px -2px rgba(124, 124, 124, 1);
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
}
main{
    max-width:750px;
}
.search:active, .search:focus{
    outline: none;
}
.category {
    font: bold 0.8rem "Open-sans", sans-serif;
    margin-bottom: 0;
}
section ul {
    list-style-type: none;
}
section ul li{
    font-size: 0.8rem;
    margin: 7px auto;
}

.book-title a {
    text-decoration: none;
    font: normal 0.9rem "Inclusive sans", sans-serif;
    color: #437DD6;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

@media (max-width: 600px) {
    main{
        padding: 0 !important;
        margin: 0 !important;
    }
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .book-card {
        flex-direction: column;
        width: fit-content;
        padding: 10px;
    }
    .image-container img{
        margin: 0 auto;
    }
    .book {
        flex-direction: column-reverse;
    }
}