@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*Room*/
.room-card {
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px rgba(97, 97, 97, 0.20);
    background-color: white;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room-card:hover{
    transform: scale(1.05); 
    box-shadow: 0px 1px 10px 2px  rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

.rooms-content {
    display: flex;
    justify-content: space-between;
}
.room-info *{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}
.image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 15px;
}
.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: contain;
}
.info-top p span {
    font-weight: bold;
}
.info-top h6 {
    font-weight: bold;
}
.edit-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
}
.edit-details a {
    text-decoration: none;
}
p span {
    font-weight: bold;
}
.amenities {
    display: flex;
    align-items: center;
}
.amenities p {
    margin: 0;
}

/*Booking*/

.book-card {
    box-shadow: 0px 2px 5px 0px rgba(97, 97, 97, 0.05);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover{
    transform: scale(1.05); 
    box-shadow: 0px 1px 10px 1px  rgba(0, 0, 0, 0.25); 
    cursor: pointer;
}
}

.room-name {
    font: bold 1.2rem "Lato", sans-serif;
    margin: 0;
}
.room-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.room-info div div{
    font: normal 0.85rem "Open sans", sans-serif;
    color: #888888;
}
.room-info div div span{
    color: black;
}
.room-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2;
}

.book-btn {
    background-color: #437DD6;
    color: white;
    text-decoration: none;
    font: bold 0.6rem Rubik;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.15s ease;
}

.book-btn:hover{
    background-color: #1a5abd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.book-btn:active{
    background-color: #134ba1;
    transform: scale(0.95);
}

.amenities {
    display: flex;
    align-items: center;
}

.amenities p {
    margin: 0;
}
.icons-list {
    display: flex;
    align-items: center;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #37A3E0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}
    
.circle i {
    font-size: 12px;
    color: #37A3E0;
}
.book-image-container {
    height: 100px;
    width: 160px;
    background-size: cover;
    overflow: hidden;
}
.book-image-container img {
    height: 100%;
}