﻿:root {
    --profile-image-size: 1.5rem;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    align-items: center;
}

i {
    color: #EBEBEB;
}

.notification {
    font-size: 20px;
}
.content {
    background-color: #F9F9F9;
    flex: 1;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.bi {
    color: white;
    font-size: 14px;
}

.sidebar {
    display: flex !important;
    flex-direction: column !important;

}
.navbar-list{
    list-style-type: none;
    padding: 0;
}
.list-item {
    width: 100% !important;
    margin: 10px 0;
}
.sidebar-item {
    width: 100% !important;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 3px;
}
.sidebar-item a span{
    color: black;
    text-decoration: none !important;
}
    .sidebar-item i {
        color: #37A3E0;
        font-size: 1em;
    }
li.active {
    background-color: #37A3E0 !important; /* Change this to your desired highlight color */
    color: white !important; /* Change text color if needed */
}
li.active a span{
    color: white;
}
li.active i{
    color: white !important; /* Change text color if needed */
}
.main{
    display: flex;
    flex: 1;    
}
.aside {
    height: 100%;
    width: 3.125rem;
    transition: 0.5s;
    padding: 0 5px;
    border: 1px solid #d9d9d9;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-active {
    width: 15.625rem !important;
}
.navbar-list {
    list-style-type: none;
}
.navbar-list li a{
    display: flex;
}
.navbar-item-text{
    display: none;
}
.navbar-show-text {
    text-decoration: none;
    margin-left: 5px;
    display: block !important;
    white-space: nowrap;
}
.no-underline{
    text-decoration: none;
}
@media (max-width: 600px) {
    .middle-header {
        display: none;
    }
    .right-header {
        margin-right: 5px;
    }
    .content {
        padding: 15px;
    }
    .aside {
        position: absolute;
        transform: translateX(-100%);
        background-color: white;
        z-index: 100;
        width: 15.625rem;
    }
    .navbar-active {
        transform: translateX(0) !important;
    }
    .navbar-item-text{
        display: block;
        white-space: nowrap;
    }
}