html, body {
    height: 100%;
    margin: 0;
}

.signin-bg {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('/assets/login-gb.jpg');
    background-size: cover;
    background-position: center;
}

.title {
    display: flex;
    align-items: center;
}

    .title h2 {
        margin: 0;
    }

.logo {
    margin-right: 0.625rem;
}

form {
    width: 40%;
    max-width: 28.125rem;
    min-width: 21.875rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    border-radius: 1.25rem;
    margin-top: 2em;
    background: rgba(255, 2555, 255, 0.24);
}

    form * {
        font-family: "Poppins", sans-serif;
    }

.input-area, .input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.9375rem;
}

.input-text {
    width: 100%;
    border-radius: 0.625rem;
    border: 1px solid #666666;
    height: 2.8125rem;
    padding: 0.625rem;
}

input {
    background-color: transparent;
}

.input-text:focus {
    outline: none;
}

a {
    color: #333;
}

.password-label {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 0.75rem;
    align-items: flex-end;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.password-label {
    width: 100%;
}
.word-toggle {
    font-size: 1.125rem;
}
button {
    border: none;
    background-color: #549CC5;
    color: white;
    font-weight: 500;
    font-size: 1.125rem;
    width: 100%;
    margin: 1.875rem 0;
    padding: 0.625rem;
    border-radius: 3.125rem;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
    background-color: #1c79b0;
    border-color: #1c79b0;
    border-width: 1px;
}

button:active{
     background-color: #0056b3; 
     transform: scale(0.95);
}

.form-title {
    font-size: 1.625rem;
}

.extra-text {
    font-size: 0.75rem;
}

.forgot-pass {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icon-toggle {
    font-size: 1.25rem;
    color: #666666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.back-area{
    width: 100%;
}
.back-area a{
    text-decoration: none;
}
.error-message {
    color: red;
    font-size: 0.875rem;
}

@media (max-width: 600px) {
    form {
        width: 90%;
        max-width: 21.875rem;
        margin-top: 4em;
        padding: 1.25rem;
    }
}