.room-card {    
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.25);
    background-color: white;
}
.main {
    display: flex;
    height: 100%;
}
.card-grid {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    place-items: center;
}
.create-room {
    flex: 1;

}
.room-info *{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}
.image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-bottom: 15px;
}
    .image-container img {
        width: 100%; /* Image takes full width of the container */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove bottom space */
        object-fit: contain;
    }
.info-top {
    display: flex;
    justify-content: space-between;
}
.info-top p span {
    font-weight: bold;
}
.info-top h6 {
    font-weight: bold;
}
.edit-details {
    width: 100%;
    display: flex;
    justify-content: right;
}
.edit-details a {
    text-decoration: none;
}
p span {
    font-weight: bold;
}
.amenities {
    display: flex;
}
.create-room {
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.create-room form {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
}
.input-area {
    display: flex;
    flex-direction: column;
}
.txt-area {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 5px;
}
.txt-area:active , .txt-area:focus {
    outline: none;
}
.toggle-btn {
    display: flex;
    border: 1px solid #888888;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 3px 5px;
    color: #888888;
    border-radius: 5px;
    cursor: pointer;
}
.toggle-active {
    background-color: #888888;
    color: white;
}
.toggle-btn input {
    width: 100%;
    height: 100%;
}
.toggle-btn p {
    margin: 0;
}

.checkbox-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff; /* Button color */
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    user-select: none;
}
.submit-area {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit-btn {
    background-color: #37A3E0;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
}
.drag-drop-box {
    width: fit-content;
    height: fit-content;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
}

    .drag-drop-box.dragover {
        border-color: #6c6;
        background-color: #f8f8f8;
    }
.drop-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#previewImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}


@media (max-width: 1110px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 920px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 690px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 520px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .main {
        flex-direction: column-reverse; 
    }
}