.dashboard-search-group {
    width: 300px;
    display: flex;
    border: 1px solid rgba(100,100,100,0.5);
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.dashboard-search{
    border: none;
    outline: none;
    flex: 4;
    padding-left: 15px;
}
.dashboard-search-btn {
    border: none;
    flex: 1;
    border-left: 1px solid rgba(100,100,100,0.5);
}
.dashboard-search-btn i {
    color: black;
}
