﻿@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.search-group {
    border: 1px solid #E1E6ED;
    width: fit-content;
    padding: 0 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 0px 0px #7C7C7C;
    height: fit-content;
}
table{
    background-color: white;
}
.search-group * {
    color: #7C7C7C;
}

.search {
    border: none;
    background-color: transparent;
}

    .search:focus {
        outline: none;
    }

.search-btn {
    align-content: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-left: 1px solid #555555;
}

.under-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.create-user-button {
    background-color: #37A3E0;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

    .create-user-button i {
        color: white !important;
        font-size: 20px;
        font-weight: bold;
    }

@media (max-width: 800px) {
    .table {
        width: 100% !important;
    }

    .table-container {
        overflow-x: scroll;
    }
}

.custom-modal-content {
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.custom-modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}

.custom-modal-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.custom-modal-footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}


.custom-submit-btn {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

    .custom-submit-btn:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

.input-section label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-section input,
.input-section select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .input-section input:focus,
    .input-section select:focus {
        border-color: #007bff;
        outline: none;
    }



