.table-data table {
    background-color: #f8f8f8;
    width: 100%;
    color: black;
    font-family: Rubik, sans-serif;
}
thead{
    font-size: 1rem;
}
.booking-table{
    margin-top: 10px;
    width: 100%;
}
.table-icon i{
    color: black;
}
.icons-area{
    display: flex;
    justify-content: space-evenly;
}
