@model MeetingRoomBooking.Data.Models.User

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Delete User";
}
<h1>Delete A User</h1>
<form asp-action="De" method="post">
<div class="form-group">
    <label asp-for="UserId"></label>
    <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
</div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
